{! admin/util/dates !}

<table class="payment-history">
	<tr>
		<th class="payment-desc">{"Description"}</th>
		<th class="payment-date">{"Date"}</th>
		<th class="payment-amt">{"Total"}</th>
	</tr>
{% foreach history as _payment %}
	<tr>
		<td class="payment-desc">{{_payment->description|stripe\Util::description ($data->_payment->id, %s)}}</td>
		<td class="payment-date">{{_payment->ts|I18n::date_time}}</td>
		<td class="payment-amt">${{_payment->amount|stripe\Util::money_format}}</td>
	</tr>
{% end %}
</table>
