{! admin/util/fontawesome !}
{! admin/util/modal !}

<div class="form">

<form method="post" id="{{_form}}">

<p><a href="https://dashboard.stripe.com/apikeys" target="_blank">{"Find these settings in your Stripe dashboard."}</a></p>

<p>{"Secret key"}:<br />
<input type="text" name="secret_key" size="40" value="{{ secret_key|quotes }}" />
<span class="notice" id="secret_key-notice">{"You must enter your Stripe secret key."}</span></p>

<p>{"Publishable key"}:<br />
<input type="text" name="publishable_key" size="40" value="{{ publishable_key|quotes }}" />
<span class="notice" id="publishable_key-notice">{"You must enter your Stripe publishable key."}</span></p>

<p>{"Currency (e.g., usd, cad, gbp)"}:<br />
<input type="text" name="currency" size="6" value="{{ currency|quotes }}" />
<span class="notice" id="currency-notice">{"You must enter a valid currency code."}</span></p>

<h4>{"Customer handlers"}</h4>

<p>{"Charge handler (e.g., myapp/handler)"}:<br />
<input type="text" name="charge_handler" size="40" value="{{ charge_handler|quotes }}" />
<span class="notice" id="charge_handler-notice">{"You must enter a valid handler name."}</span></p>

<p>{"Webhook handler (e.g., myapp/handler)"}:<br />
<input type="text" name="webhook_handler" size="40" value="{{ webhook_handler|quotes }}" />
<span class="notice" id="webhook_handler-notice">{"You must enter a valid handler name."}</span></p>

<p>{"Webhook secret key"}:<br />
<input type="text" name="webhook_key" size="40" value="{{ webhook_key|quotes }}" /></p>

<h4>{"Subscription Plans"}</h4>

<input type="hidden" name="plans" id="plans" value="{{ plans|json_encode|quotes }}" />

<div id="plan-list" style="margin-bottom: 15px">
</div>

<p><a href="#" id="add-plan">{"Add plan"}</a></p>

<p>
	<input type="submit" value="{"Save Settings"}" />
	&nbsp;
	<a href="/stripe/index" onclick="return confirm ('{"Are you sure you want to cancel?"}')">{"Cancel"}</a>
</p>

</form>

</div>

<script>
$(function () {
	Handlebars.registerHelper ('select', function (value, options) {
		var $el = $('<select />').html (options.fn (this));
		$el.find ('[value=' + value + ']').attr ({selected: 'selected'});
		return $el.html ();
	});

	plans.init ({{ plans|json_encode }});
});
</script>

<style>
a.no-underline {
	text-decoration: none;
}
</style>

<script type="text/html" id="plan-template">
	<div id="plan-\{{plan}}">
		<a href="#" class="remove-plan no-underline" data-id="\{{plan}}" title="{"Remove plan"}"><i class="fa fa-times"></i></a>
		&nbsp;
		<a href="#" class="update-plan no-underline" data-id="\{{plan}}" title="{"Edit plan"}"><i class="fa fa-pencil"></i></a>
		&nbsp;
		\{{label}} - $\{{amount}} / \{{interval}}
	</div>
</script>

<script type="text/html" id="plan-form-template">
<input type="hidden" id="plan-form-original" value="\{{plan}}" />
<div style="float: left; width: 46%; margin: 0.25%">
	<p>
		<label>{"Plan ID"}:</label><span class="notice" id="plan-notice-plan"><br />{"Please enter an alphanumeric plan ID."}</span><br />
		<input type="text" id="plan-form-id" value="\{{plan}}" placeholder="e.g., pro" />
	</p>
	<p>
		<label>{"Plan name"}:</label><span class="notice" id="plan-notice-label"><br />{"Please enter a plan name."}</span><br />
		<input type="text" id="plan-form-label" value="\{{label}}" placeholder="e.g., Professional" />
	</p>
</div>
<div style="float: left; width: 46%; margin: 0.25%">
	<p>
		<label>{"Amount (in cents)"}:</label><span class="notice" id="plan-notice-amount"><br />{"Please enter a plan amount in cents"}<br />(ex: 1000 = $10.00)</span><br />
		<input type="text" id="plan-form-amount" value="\{{amount}}" placeholder="e.g., 2500" />
	</p>
	<p>
		<label>{"Repeats"}:</label><br />
		<select id="plan-form-interval">
		\{{#select interval}}
			<option value="monthly">{"monthly"}</option>
			<option value="yearly">{"yearly"}</option>
			<option value="weekly">{"weekly"}</option>
			<option value="every 2 weeks">{"every 2 weeks"}</option>
			<option value="every 2 months">{"every 2 months"}</option>
			<option value="every 3 months">{"every 3 months"}</option>
			<option value="every 4 months">{"every 4 months"}</option>
			<option value="every 6 months">{"every 6 months"}</option>
		\{{/select}}
		</select>
	</p>
</div>
<br clear="both" />
	<p>
		<input type="submit" id="plan-submit" value="\{{submit_button}}" />
	</p>
</script>
