<div class="form">

<form method="post" id="{{_form}}">

<p><a href="https://manage.stripe.com/account/apikeys" target="_blank">{"Find these settings in your Stripe dashboard."}</a></p>

<p>{"Secret key"}:<br />
<input type="text" name="secret_key" size="40" value="{{ secret_key|quotes }}" />
<span class="notice" id="secret_key-notice">{"You must enter your Stripe secret key."}</span></p>

<p>{"Publishable key"}:<br />
<input type="text" name="publishable_key" size="40" value="{{ publishable_key|quotes }}" />
<span class="notice" id="publishable_key-notice">{"You must enter your Stripe publishable key."}</span></p>

<p>{"Charge handler (e.g., myapp/handler)"}:<br />
<input type="text" name="charge_handler" size="40" value="{{ charge_handler|quotes }}" />
<span class="notice" id="charge_handler-notice">{"You must enter a valid handler name."}</span></p>

<p>
	<input type="submit" value="{"Save Settings"}" />
	&nbsp;
	<a href="/stripe/index" onclick="return confirm ('{"Are you sure you want to cancel?"}')">{"Cancel"}</a>
</p>

</form>

</div>