{! admin/util/fontawesome !}

<div class="form">

<form method="post" id="{{_form}}">

<p><a href="https://manage.stripe.com/account/apikeys" target="_blank">{"Find these settings in your Stripe dashboard."}</a></p>

<p>{"Secret key"}:<br />
<input type="text" name="secret_key" size="40" value="{{ secret_key|quotes }}" />
<span class="notice" id="secret_key-notice">{"You must enter your Stripe secret key."}</span></p>

<p>{"Publishable key"}:<br />
<input type="text" name="publishable_key" size="40" value="{{ publishable_key|quotes }}" />
<span class="notice" id="publishable_key-notice">{"You must enter your Stripe publishable key."}</span></p>

<p>{"Currency (e.g., usd, cad, gbp)"}:<br />
<input type="text" name="currency" size="6" value="{{ currency|quotes }}" />
<span class="notice" id="currency-notice">{"You must enter a valid currency code."}</span></p>

<h4>{"Customer handlers"}</h4>

<p>{"Charge handler (e.g., myapp/handler)"}:<br />
<input type="text" name="charge_handler" size="40" value="{{ charge_handler|quotes }}" />
<span class="notice" id="charge_handler-notice">{"You must enter a valid handler name."}</span></p>

<p>{"Webhook handler (e.g., myapp/handler)"}:<br />
<input type="text" name="webhook_handler" size="40" value="{{ webhook_handler|quotes }}" />
<span class="notice" id="webhook_handler-notice">{"You must enter a valid handler name."}</span></p>

<h4>{"Subscription Plans"}</h4>

<input type="hidden" name="plans" id="plans" value="{{ plans|json_encode|quotes }}" />

<div id="plan-list" style="margin-bottom: 15px">
</div>

<p><a href="#" id="add-plan">{"Add plan"}</a></p>

<p>
	<input type="submit" value="{"Save Settings"}" />
	&nbsp;
	<a href="/stripe/index" onclick="return confirm ('{"Are you sure you want to cancel?"}')">{"Cancel"}</a>
</p>

</form>

</div>

<script>
$(function () {
	plans.init ({{ plans|json_encode }});
});
</script>

<script type="text/html" id="plan-template">
	<div id="plan-\{{plan}}">
		<a href="#" class="remove-plan" data-id="\{{plan}}" title="{"Remove plan"}"><i class="icon-remove"></i></a>
		&nbsp;
		\{{label}} - $\{{amount}} / \{{interval}}
	</div>
</script>

<script type="text/html" id="plan-form-template">
	<p>
		<label>{"Plan ID"}</label><br />
		<input type="text" data-plan="{{plan}}" placeholder="Plan ID, e.g., basic" />
	</p>
	<p>
		<label>{"Plan name"}</label><br />
		<input type="text" data-label="{{label}}" placeholder="Plan name, e..g, Basic plan" />
	</p>
	<p>
		<label>{"Amount (in cents)"}:</label><br />
		<input type="text" data-amount="{{amount}}" placeholder="Amount" />
	</p>
	<p>
		<label>{"Repeats"}:</label><br />
		<select class="plan-interval" data-interval="monthly">
			<option value="monthly">{"monthly"}</option>
		</select>
	</p>
</script>
